@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato:wght@300;400&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcf6fc;
}

div.wrapper {
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

/* styling header */

.headerPictures {
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "leaf plant"
        "leaf spade";
}

.headerLeaf {
    grid-area: leaf;
    background-image: url(assets/Rectangle\ 25.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerPlant {
    grid-area: plant;
    background-color: #9e6d52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSpade {
    grid-area: spade;
    background-color: #0a846e;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>section>article>img {
    height: 10rem;
    width: 10rem;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    color: #0a846e;
    background-color: #ffffff;
    font-family: "maven pro", "sans serif";
    font-weight: 700;
    box-shadow: 0px 3px 2px hsla(0, 0%, 50%, 0.131);
}


/* Styling Planned planthood */
.section {
    background-color: white;
    display: flex;
    padding: 1rem;

}


.centered-textP {
    margin: 0;
    padding: 30px;
    text-align: center;  
    color: #0A846E;
    font-family: 'Maven Pro', sans-serif;
    font-size: 34px;
}
    
.container1 {
    margin: 0;
    width: 911px;
    height: 377px;
    background-color: white;
    display: flex;
    flex-direction:row;
    align-items: center; 
    justify-content: center;
}


.circle {
    width: 370px;
    height: 370px;
    background-color: #25603e;  
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-textS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.season { 
    padding: 10px 40px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: black;
    font-size: 32px;
}

.Loremdolor {
    margin-top: 10px;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


.tips-button {
    margin: 30px;
    width: 179px;
    padding: 1rem;
    background-color: #0A846E;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 3px #504e4e30;
    display: flex;
    justify-content: center;
    margin-left: auto;
}

 

.custom-line {
    margin:5rem auto;
    width: 303px;
    border-top: 3px solid #055647;

}


/* Styling Planerade planteringar */

h2.plannedPlantsHeader {
    text-align: center;
    font-family: Lato;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin: 5rem;
}

section.plannedPlants {
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 410px;
    margin: 2rem auto;
    grid-gap: 2rem;
    max-width: 1000px;
    background-color: #FFFFFF;
}

img.plantsvg {
    margin: 45px 0px 45px 66px;
}

figure.cucumber {
    height: 300px;
    width: 300px;
    background-image: url(./assets/Rectangle\ 13\ \(5\).png);
    background-size: 100%;
}

figure.tomatojocke {
    height: 300px;
    width: 300px;
    background-image: url(./assets/Rectangle\ 13\ \(6\).png);
    background-size: 100%;
}

figure.tomatmajvor {
    height: 300px;
    width: 300px;
    background-image: url(./assets/Rectangle\ 13\ \(7\).png);
    background-size: 100%;
}

figure.sugarcane {
    height: 300px;
    width: 300px;
    background-image: url(./assets/Rectangle\ 13\ \(2\).png);
    background-size: 100%;
}

figure.majrova {
    height: 300px;
    width: 300px;
    background-image: url(./assets/Rectangle\ 13\ \(4\).png);
    background-size: 100%;
}

figure.squash {
    height: 300px;
    width: 300px;
    background-image: url(./assets/Rectangle\ 13\ \(3\).png);
    background-size: 100%;
}

h2.cardTitle {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

p.date {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;

}

p.name {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

section.cardInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin: 10px;
}

button.smallCardBtn {
    background-color: #B93857;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 700;
}

button.smallCardBtn:hover {
    background-color: #860c29;
}

article.smallCard {
    box-shadow: 3px 3px 5px 0px rgba(128, 128, 128, 0.363);
}

section.buttonGreen {
    display: flex;
    justify-content: center;
}

button.greenBtn, .greenBtnPlant {
    background-color: #0A846E;
    color: white;
    padding: 1rem;
    font-size: large;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 3px #504e4e30;
    margin: 5rem;
}

button.greenBtn:hover  {
    background-color: #10ac90;
}
.greenBtnPlant:hover {
    background-color: #10ac90;
}

button.greenBtnPlant {
    margin: 1rem 0;
    font-family: 'Inter', sans-serif;
    width: 281px;
}

.tidigareOdlingar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom:40px;
}

.open {
    margin-bottom:20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}

.tidigareOdlingarLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.tidigareOdlingarRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.tidigareOdlingar section {
    width: 50%;
    padding:2rem;
}

.circle {
    width:377px;
    height:377px;
    background-color: #0A846E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* styling footer */

.footerFlex {
    background-image: url(assets/Rectangle\ 22.png);
    height: 590px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    width: 100%;
}

.footerLeft {
    width: 50%;
    background-color: rgba(0, 0, 0, .79);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footerLeft h2 {
    font-size: 64px;
    font-family: 'Maven Pro', sans-serif;
}

.footerRight {
    background-color: rgba(5, 87, 72, .2);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInfo {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
}

.contactInfo article {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bottenNav {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    font-size: 24px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.bottenNav a {
    text-decoration: none;
    color: black;
}