@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fcf6fc;
}

div.wrapper {
    max-width: 1000px;
    margin: auto;
}

.headerPictures {
    height: 60vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "leaf plant"
        "leaf spade";
}

.headerLeaf {
    grid-area: leaf;
    background-image: url(assets/Rectangle\ 25.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerPlant {
    grid-area: plant;
    background-color: #9e6d52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSpade {
    grid-area: spade;
    background-color: #0a846e;
    display: flex;
    justify-content: center;
    align-items: center;
}

header>section>article>img {
    height: 10rem;
    width: 10rem;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    color: #0a846e;
    background-color: #ffffff;
    font-family: "maven pro", "sans serif";
    font-weight: 700;
}

.footerFlex {
    background-image: url(assets/Rectangle\ 22.png);
    height: 590px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    width: 100%;
}

.footerLeft {
    width: 50%;
    background-color: rgba(0, 0, 0, .79);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footerLeft h2 {
    font-size: 64px;
}

.footerRight {
    background-color: rgba(5, 87, 72, .2);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInfo {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
    align-items: center;
}

.contactInfo article {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.bottenNav {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    font-size: 24px;
    padding: 20px;
}

.bottenNav a {
    text-decoration: none;
    color: black;
}